* {
    margin: 0;
    padding: 0;
}

body{ 
    background-color: rgb(148, 248, 114);
}

#orb-one {
    width:100%;
    height: 100vh;
    background-color: rgba(111, 199, 53, 0.654);
    border-radius: 50%;
    animation-name: shapeshift;
    animation-duration: 5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shapeshift {
    0% {
        border-radius: 45% 65% 55% 75%;
    }
    50% {
        border-radius: 55% 75% 35% 45%;
    }
    100% {
        border-radius: 50% 60% 30% 70%
    }
}

#orb-two {
    width:90%;
    height: 90vh;
    background-color: rgba(97, 58, 28, 0.877);
    border-radius: 50%;
    position: absolute; 
    top: 5%;
    left: 5%;
    z-index: 99;
    animation-name: shapeshift;
    animation-duration: 10s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /*3 properties for centering the content*/
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:4000px) {
h1{
    font-size: 40px;
    color: white;
}

.seed{
    background-image: url(plant-images/seed.png);
    width: 30%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    /*3 properties for centering the content*/
    top: 35%;
    left: 20vh;
    position:absolute;
}
}

@media screen and (max-width:1300px) {
    body {
        background-color: pink;
    }
    #orb-one {
        background-color: rgb(169, 99, 235, 0.3);
        animation-duration: 2s;
    }
    #orb-two {
        background-color: rgb(0, 255, 255, 0.3) ;
        animation-duration: 2s;
    }
    .seed{
        opacity: 0;
    }
    h1{
        opacity: 0;
    }
    #seed2{
        width: 60%;
        height: 60vh;
        background-image:url(plant-images/seedwsprout.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 100;
        /*3 properties for centering the content*/
        top: 20%;
        left: 20vh;
        position:absolute;
    
}
    }

     @media screen and (max-width:800px) {
        body {
            background-image:url(plant-images/field.jpg);
        }
    
        #orb-one{
            opacity: 0;
        }

        #orb-two{
            opacity: 0;
        }

        #flower{
            width: 60%;
            height: 60vh;
            background-image: url(plant-images/flower.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 200;
            /*3 properties for centering the content*/
            bottom: 25%;
            left: 15vh;
            position: absolute;
        }
        #seed2{
            width: 0%;
            height: 0vh;
    }
     }
